* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  z-index: 1;
  scroll-behavior: smooth;
  height: 120vh;
  /* background: rgb(103,169,208);
  background: linear-gradient(0deg, rgba(103,169,208,1) 0%, rgba(135,206,235,1) 66%, rgba(135,206,235,1) 76%); */
  background-image: url(clear.jpeg);
  background-position: center;
  background-size: cover;
}
.weather-container {
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 50px;
} 
input[type="text"] {
  border-radius: 20px;
  font-size: 18px;
  border: none;
  outline: none;
  width: 60%;
  height: 60px;
  padding: 10px 20px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background-color: #3a97fa;
  height: 60px;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
#weatherInfo p{
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}
#weatherInfo { 
    display:flex;
    flex-direction: row;
  margin-top: 20px;
}
#weatherInfo .city {
  font-size: 50px;
}
.weather-details {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  z-index: 3;
  width: 400px;
  height: 300px;
  backdrop-filter: blur(10px); 
  margin: 0 20px;
  background: rgb(255, 255, 255, 0.4);
  border-radius: 40px;
}
.col img{
  width: 100px;
  height: 100px;
  margin: 10px 0 20px 0;
  z-index: 3;
}
.col p {
  font-size: 30px;
}
.humidity, .wind {
  margin: 10px;
}

@media screen and (max-width:768px) {
  body {
    min-height: 150vh;
  }
  input[type="text"] {
    border-radius: 20px;
    font-size: 16px;
    width: 70%;
    height: 50px;
    padding: 10px;
    margin: 10px;
  }
  input[type="text"]::placeholder  {
    font-size: 17px;
  }
  .search {
    display: flex;
    flex-direction: row;
  }
  #weatherdetails {
    flex-direction: column;
    padding: 120px;
  }
  button {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    font-size: 16px;
  }
  .col {
    width: 300px;
    margin: 30px;
  }
}
